/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 100%;
  line-height: 1.375;
  color: var(--theme-body-color);
  background-color: var(--theme-body-background);
}

h1 {
  font-size: 1.5em;
}

h2 {
  margin-top: 2em;
  font-size: 1.15em;
}

a {
  color: inherit;
}

/**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 */
 button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: default;
}

svg {
  fill: currentColor;
}

::-moz-focus-inner {
  border: none;
}

body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 30px;
}
body > header > * {
  margin: 0;
}

.warning-box {
  opacity: 0.8;
  border: solid 1px hsla(55, 100%, 40%, 0.4);
  padding: .8em 1em;
  line-height: 1.5;
  background-color: hsla(55, 100%, 50%, 0.1);
}

.theme-switcher {
  padding: .3em .6em;
  border: solid 1px;
  border-radius: 3px;
  cursor: pointer;
  background-color: hsla(0, 0%, 50%, 0.2);
}
.theme-switcher:hover,
.theme-switcher:focus {
  color: var(--theme-focus-border-color);
  background: none;
}

.example-box {
  margin: 50px 0;
  outline: solid 1px var(--theme-splitter-color);
  box-shadow: 0 1px 4px rgba(0,0,0,.15);
  font-size: 11px;
  line-height: 1.2727;
}

.horizontal-splitter {
  display: block;
  border-bottom: solid 1px var(--theme-splitter-color);
}

.toolbar {
  display: flex;
  height: var(--toolbar-height);
  color: var(--theme-toolbar-color);
  background-color: var(--theme-toolbar-background);
  overflow: hidden;
}

.toolbar--big {
  --toolbar-height: 28px;
}

.toolbar-splitter {
  display: block;
  align-self: stretch;
  margin: 4px 0;
  border-right: solid 1px var(--theme-splitter-color);
}

.toolbar-splitter--spaced {
  margin-left: 3px;
  margin-right: 3px;
}

.toolbar-group {
  display: flex;
  padding: 0 3px;
}

.toolbar-group--end {
  margin-left: auto;
}

.toolbar-button {
  align-self: center;
  outline: none;
  margin: 1px;
  padding: 3px 4px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.toolbar-fullbutton {
  align-self: stretch;
  outline: none;
  margin: 0;
  padding: 6px 4px;
  border: 1px solid transparent;
}

.devtools-tabs {
  display: flex;
  align-self: stretch;
  align-items: stretch;
}

.devtools-tab {
  position: relative;
  outline: none;
  display: flex;
  align-items: center;
  min-height: 24px;
  margin: 0;
  padding: 4px 10px;
  border: 1px solid transparent;
}

.devtools-tab svg {
  display: block;
  margin-left: -2px;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.devtools-tab::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  height: 2px;
  opacity: 0;
  transform: scaleX(0);
  transition: transform 250ms var(--animation-curve), opacity 250ms var(--animation-curve);
}

.devtools-tab:hover::before {
  opacity: 1;
  transform: none;
  background-color: var(--tab-line-hover-color);
}

.devtools-tab.active::before {
  opacity: 1;
  transform: none;
  background-color: var(--tab-line-selected-color);
}

.toolbar-button:hover,
.toolbar-fullbutton:hover,
.devtools-tab:hover {
  background-color: var(--theme-toolbar-hover);
}

.toolbar-button.focus-visible {
  border-color: var(--theme-focus-border-color);
  box-shadow: var(--theme-focus-shadow);
}

.toolbar-fullbutton.focus-visible,
.devtools-tab.focus-visible {
  border-color: var(--theme-focus-border-color);
  box-shadow: var(--theme-focus-inset-shadow);
}

.toolbar-button svg,
.toolbar-fullbutton svg {
  vertical-align: top;
  margin: -1px 0;
  width: 16px;
  height: 16px;
}

.toolbar-input {
  align-self: center;
  border: solid 1px var(--theme-splitter-color);
  border-radius: 2px;
  padding: 3px 3px;
  font: inherit;
  color: var(--input-color);
  background-color: var(--input-background);
}

.toolbar-fullinput {
  align-self: stretch;
  margin: 0 1px;
  border: solid 1px transparent;
  padding: 4px 5px;
  font: inherit;
  color: var(--input-color);
  background-color: transparent;
}

.toolbar-input:focus {
  border-color: var(--theme-focus-border-color);
  box-shadow: var(--theme-focus-shadow);
}

.toolbar-fullinput:focus {
  border-color: var(--theme-focus-border-color);
  box-shadow: var(--theme-focus-inset-shadow);
}

.toolbox {
  --toolbar-height: 28px;
  border:0;
}

.toolbox .toolbar-group {
  padding: 0;
}

.toolbox .toolbar-button {
  padding: 7px 4px;
  margin: 0;
  border: 0;
}

.active {
  color: var(--theme-toolbar-selected-color);
}

.toolbox .toolbar-button:not(.command-button)::before {
  content: "";
  outline: 1px solid transparent;
  display: block;
  width: calc(100% + 6px);
  position:relative;
  top:-6px;
  left:-3px;
}

.toolbox .toolbar-button:not(.command-button).active::before {
  outline-color: var(--theme-toolbar-selected-color);
}

.toolbox .toolbar-button:not(.command-button):hover::before {
  outline-color: var(--theme-toolbar-border-top-color);
}
